@include screen(rem(320px), rem(640px)) {

    %basico-layout {
        z-index: 1;
        grid-column: 1 / 3;
        // grid-row: span 1;
    }

    .cabecera {
        grid-column: 2 /3;
    }

    .canvas {
        grid-column: 1 / 2;
    }

}