@import 'config';
@import "normalize-scss/sass/normalize/import-now";

html {
    @include rem-baseline;
}

body {
    background-color: chocolate;
    // font-size: rem(14px);
}

// layout
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto min-content;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.canvas {
    // display: none;
    @include translateX(-100%);
    // @include transition-property(width);
    @include transition-duration(0.5s);
    @include transition-timing-function(linear);
    // will-change: transform, opacity;
    z-index: 200;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: blue;

    &.open {
        // display: block;

        @include translateX(0);
    }
}

%basico-layout {
    z-index: 1;
    grid-column: 1 / 3;
    // grid-row: span 1;
}

.cabecera {
    @extend %basico-layout;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: aquamarine;
    // z-index: -1;
}

.cuerpo {
    @extend %basico-layout;
    // order: 2;
    grid-row: 2 / 3;
    background-color: white;
}

.pie {
    @extend %basico-layout;
    // order: 3;
    grid-row: 3 / 4;
    background-color: wheat;
}